* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(34, 34, 34, 0.6);
  background-color: #fff;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: rgba(34, 34, 34, 0.8);
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 80px;
}


/* header */
header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

header > .inner {
  width: 800px;
  background-color: #e5e7eb;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header > .inner nav ul {
  display: flex;
  justify-content: space-evenly;
  column-gap: 15px;
}

header > .inner a span {
  font-weight: 900;
  font-size: 20px;
  color: rgba(34, 34, 34, 1);
}

header > .inner nav ul li {
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.2s;
  font-weight: bold;
  transition: 0.5s;
}
header > .inner nav ul li:hover {
  background-color: #fff;
}
header > .inner nav ul li:hover a {
  color: rgba(34, 34, 34, 1);
}


/* VISUAL */
.visual {
  color: rgba(34, 34, 34, 0.8);
  margin-top: 50px;
  width: 100%;
}

.visual > .inner {
  height: calc(100vh - 50px);
  font-size: 70px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: relative;
}

.visual > .inner span {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-right: 3px solid;
  left: 50%;
  font-family: "Noto Sans Mono", monospace;
}
.visual > .inner .name {
  color: #4a6bd6;
  animation: typingName 2s steps(9) forwards, blink .5s step-end forwards;
  top: 40%;
}
.visual > .inner .dev {
  animation: typingDev 4s steps(20) forwards, blink .5s;
  animation-delay: 2.2s;
  top: 60%;
  opacity: 0;
}


/* ABOUT */
.about .inner {
  padding: 180px 20px 150px;
}

.about .inner .title-container {
  display: flex;
}

.about .inner h2::before {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 263px;
  height: 2px;
}
.about .inner h2::after {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 263px;
  height: 2px;
}

.about .about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about__img {
  width: 45%;
  padding: 0 0 10px;
}

.about .about__img img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 8px rgba(34, 34, 34, 0.3);
}

.about .about__info {
  width: 45%;
  opacity: 0;
  transform: translateX(200px);
  transition: 2s;
}

.about.show .about__info {
  transform: translateX(0);
  opacity: 1;
}

.about .about__info ul {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgba(34, 34, 34, 0.8);
} 

.about .about__info ul li span {
  margin-right: 8px;
}

.about .about__info ul li:first-child {
  width: fit-content;
  font-size: 16px;
  margin-right:20px;
  padding: 6px 13px;
  border-radius: 18px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}
.about .about__info ul {
  transition: opacity 0.3s ease;
}
.about .about__info:hover ul {
  opacity: 0.3;
}
.about .about__info ul:hover {
  opacity: 1;
  color: #4a6bd6;
  transform: scale(1.1);
}


/* SKILL */
.skill .inner {
  padding: 180px 20px 500px;
}
.skill .inner h2::before {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 143px;
  height: 2px;
}
.skill .inner h2::after {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 143px;
  height: 2px;
}

.skill .skill-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill .skill-container div {
  width: fit-content;
  background-color: #e5e7eb;
  border-radius: 15px;
  transform: skewX(5deg);
}

.skill .skill-container div:nth-child(2),
.skill .skill-container div:nth-child(4) {
  transform: skewX(5deg) translateY(60px);
}

.skill .skill-container div img {
  padding: 10px;
  transform: skewX(-5deg);
  width: 130px;
  height: 130px;
  object-fit: contain;
}


/* PROJECT */
.project .inner {
  height: 2000px;
  padding: 180px 20px 0;
}
.project .inner h2::before {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 230px;
  height: 2px;
}
.project .inner h2::after {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 230px;
  height: 2px;
}

.project .inner .git {
  width: 90%;
  height: 200px;
  box-shadow: 0px 0px 5px rgba(34, 34, 34, 0.4);
  /* border: 2px solid rgba(34, 34, 34, 0.4); */
  border-radius: 20px;
  margin: 0 auto;
}

/* Animation */
@keyframes typingName {
  from { width: 0; }
  to { width: 9ch; }
}

@keyframes typingDev {
  from { width: 0; opacity: 1; }
  to { width: 20ch; opacity: 1; }
}

@keyframes blink {
  50% { border-color: transparent; }
}