* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(34, 34, 34, 0.6);
  background-color: #fff;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}


/* header */
header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

header > .inner {
  width: 800px;
  background-color: #e5e7eb;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header > .inner nav ul {
  display: flex;
  justify-content: space-evenly;
  column-gap: 15px;
}

header > .inner a span {
  font-weight: 900;
  font-size: 20px;
  color: rgba(34, 34, 34, 1);
}

header > .inner nav ul li {
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.2s;
  font-weight: bold;
  transition: 0.5s;
}
header > .inner nav ul li:hover {
  background-color: #fff;
}
header > .inner nav ul li:hover a {
  color: rgba(34, 34, 34, 1);
}


/* VISUAL */
.visual {
  margin-top: 50px;
  width: 100%;
}

.visual > .inner {
  height: calc(100vh - 120px);
  font-size: 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.visual > .inner span {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-right: 3px solid;
  left: 50%;
}
.visual > .inner .name {
  width: 10ch;
  animation: typing 2s steps(10), blink .5s step-end;
  top: 40%;
}
.visual > .inner .dev {
  width: 21ch;
  animation: typing 4s steps(21), blink .5s step-end;
  animation-delay: 2.2s;
  top: 60%;
}


/* ABOUT */
#about {
  height: 2000px;
}


/* Animation */
@keyframes typing {
  from { width: 0%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}