* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(34, 34, 34, 0.6);
  background-color: #fff;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: rgba(34, 34, 34, 0.8);
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}


/* header */
header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

header > .inner {
  width: 800px;
  background-color: #e5e7eb;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header > .inner nav ul {
  display: flex;
  justify-content: space-evenly;
  column-gap: 15px;
}

header > .inner a span {
  font-weight: 900;
  font-size: 20px;
  color: rgba(34, 34, 34, 1);
}

header > .inner nav ul li {
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.2s;
  font-weight: bold;
  transition: 0.5s;
}
header > .inner nav ul li:hover {
  background-color: #fff;
}
header > .inner nav ul li:hover a {
  color: rgba(34, 34, 34, 1);
}


/* VISUAL */
.visual {
  margin-top: 50px;
  width: 100%;
}

.visual > .inner {
  height: calc(100vh - 50px);
  font-size: 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.visual > .inner span {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-right: 3px solid;
  left: 50%;
  font-family: monospace;
}
.visual > .inner .name {
  animation: typingName 2s steps(9) forwards, blink .5s step-end forwards;
  top: 40%;
}
.visual > .inner .dev {
  animation: typingDev 4s steps(20) forwards, blink .5s;
  animation-delay: 2.2s;
  top: 60%;
  opacity: 0;
}


/* ABOUT */
.about .inner {
  height: 2000px;
  padding: 160px 20px 0;
}

.about .inner .title-container {
  display: flex;
}

.about .inner h2::before {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 280px;
  height: 3px;
}
.about .inner h2::after {
  content: "";
  display: block;
  background-color: rgba(34, 34, 34, 0.3);
  width: 280px;
  height: 3px;
}

.about .about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about__img {
  width: 45%;
}

.about .about__img img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 8px rgba(34, 34, 34, 0.3);
}

.about .about__info {
  width: 45%;
}

.about .about__info ul {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgba(34, 34, 34, 0.8);
} 

.about .about__info ul li span {
  margin-right: 8px;
}

.about .about__info ul li:first-child {
  width: fit-content;
  font-size: 16px;
  margin-right:20px;
  padding: 6px 13px;
  border-radius: 18px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}


/* Animation */
@keyframes typingName {
  from { width: 0; }
  to { width: 9ch; }
}

@keyframes typingDev {
  from { width: 0; opacity: 1; }
  to { width: 20ch; opacity: 1; }
}

@keyframes blink {
  50% { border-color: transparent; }
}